In [ ]:
import pandas as pd

# Caminho do arquivo
arquivo = r"Lista Pelada.xlsx"  
# Lê a planilha
df = pd.read_excel(arquivo,sheet_name='Lista_pelada')
display(df)
df['Grupo'] = df.groupby(['Posição','Nota']).ngroup()
df['Time'] = 0
dfs = []
pref_time1 = True 
for grupo in df['Grupo'].drop_duplicates():
    print(grupo)
    df_grupo = df[df['Grupo'] == grupo ].reset_index(drop=True)
    n_grupo = len(df_grupo)
    if (n_grupo %2 == 0) :
        metade = int (n_grupo/2)-1
        df_grupo.loc[0:metade,'Time'] = 1
        df_grupo.loc[metade+1:n_grupo,'Time'] = 2
    else:   #  número ímpar, verifica quem tem preferência
        parte_maior = int((n_grupo+1)/2-1)
        if pref_time1:             
            df_grupo.loc[0:parte_maior,'Time'] = 1
            df_grupo.loc[parte_maior+1:n_grupo,'Time'] = 2
            pref_time1 = False                  
        else:
            df_grupo.loc[0:parte_maior,'Time'] = 2
            df_grupo.loc[parte_maior+1:n_grupo,'Time'] = 1
            pref_time1 = True
    dfs.append (df_grupo)
df_final = pd.concat(dfs,ignore_index=True)
display(df_final['Time'].value_counts())
display(df_final[['Nota','Time']].groupby('Time').sum())
df_final.sort_values(by=['Time','Posição','Nota'], ascending=[True, True, False], inplace=True)
display(df_final)
df_final.to_excel("Divisão_times.xlsx",index=False)

             Nome  Nota          Posição
0   Lucas Martins     3        Zagueiros
1    Diogo Davila     5  Meias/Atacantes
2          Hector     5  Meias/Atacantes
3            Elcy     5  Meias/Atacantes
4         Mariano     4  Meias/Atacantes
5         Rodrigo     3        Zagueiros
6          Plínio     3        Zagueiros
7          Adrian     4  Meias/Atacantes
8      Lucas Rosa     4  Meias/Atacantes
9         Eduardo     4  Meias/Atacantes
10     João Vitor     3  Meias/Atacantes
11    Julio Cesar     3  Meias/Atacantes
12        Capucho     3        Zagueiros
13  Rodrigo Nunes     4  Meias/Atacantes
14          Bruno     4  Meias/Atacantes
15           João     4  Meias/Atacantes
16         Rafael     5  Meias/Atacantes
17         Felipe     3  Meias/Atacantes

3
2
1
0

Time
1    9
2    9
Name: count, dtype: int64

      Nota
Time
1       35
2       34

             Nome  Nota          Posição  Grupo  Time
4    Diogo Davila     5  Meias/Atacantes      2     1
5          Hector     5  Meias/Atacantes      2     1
8         Mariano     4  Meias/Atacantes      1     1
9          Adrian     4  Meias/Atacantes      1     1
10     Lucas Rosa     4  Meias/Atacantes      1     1
11        Eduardo     4  Meias/Atacantes      1     1
17         Felipe     3  Meias/Atacantes      0     1
0   Lucas Martins     3        Zagueiros      3     1
1         Rodrigo     3        Zagueiros      3     1
6            Elcy     5  Meias/Atacantes      2     2
7          Rafael     5  Meias/Atacantes      2     2
12  Rodrigo Nunes     4  Meias/Atacantes      1     2
13          Bruno     4  Meias/Atacantes      1     2
14           João     4  Meias/Atacantes      1     2
15     João Vitor     3  Meias/Atacantes      0     2
16    Julio Cesar     3  Meias/Atacantes      0     2
2          Plínio     3        Zagueiros      3     2
3         Capucho     3        Zagueiros      3     2